.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 23px;
  background-color: #f4f4fb;
}

.user-card {
  background-color: #5e69ee;
  border: 4px solid #c0c0c0;
  border-radius: 13px;
  padding: 33px;
  margin-bottom: 23px;
  box-shadow: 3 4px 6px rgba(0, 0, 0, 0.1);
}
